.Rproj.user
.Rhistory
.RData
*.Rproj
**/.deps
**/.libs
**/.dirstamp
**/*.lo
**/*.o
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libreadstat.la
libtool
ltmain.sh
Makefile
Makefile.in
missing
readstat
test-driver
autom4te.cache/*
output.*
test-suite.log
test_readstat
*.log
*.trs
test_csv_to_dta*
.vscode/
*.swp
dev/
tmp.*
test_dta_days
prof_output
gmon.out
gen.json
extract_metadata
test_sav_date
test_double_decimals
generate_corpus
*.csv
*.json
*.py
*.tar.gz
*.zip
.DS_Store
**/*.vcxproj.user
Debug/
Release/
