.Rproj.user
.Rhistory
.RData
*.Rproj
**/.deps
**/.libs
**/.dirstamp
**/*.lo
**/*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
coverage.info
depcomp
headers.txt
html/
install-sh
libreadstat.la
libtool
ltmain.sh
missing
readstat
test-driver
test-suite.log
test_readstat
test_readstat.log
test_readstat.trs
